.btn-info{

    background-color: rgb(64, 153, 12);
    
    color: white;
    
    }
    
    .btn-primaru:hover,
    
    .btn-primary:focus,
    
    .btn-primary:visited{
    
    background-color: green;
    
    color: white;
    
    }